[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
yapf = "*"
rope = "*"

[packages]
django = "*"
djangorestframework = "*"
pygments = "*"
psycopg2 = "*"
django-cors-headers = "*"
coverage = "*"
coveralls = "*"
awscli = "*"

[requires]
python_version = "3.7"
